<li>
	{{burger_name}}

	<button class="change-burger" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devoured}}Devoured!{{else}}Devour it!{{/if}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
